In [2]:
import pandas as pd
s=pd.Series([10,2,3,70,5])
s

0    10
1     2
2     3
3    70
4     5
dtype: int64

In [3]:
from pandas import Series
s=Series([20,90,50,80])
s

0    20
1    90
2    50
3    80
dtype: int64

In [5]:
import numpy as np
arr= np.random.randint(0,100,10)
print(arr)
type(arr)

[38 49 12 85 11  4 51 26 16 53]

numpy.ndarray

In [6]:
arr= np.random.randint(70,101,10)
print(arr)

[71 79 85 75 82 90 78 76 83 73]

In [8]:
np.random.seed(0)
arr=np.random.randint(70,101,10)
s=pd.Series(arr)
s

0    82
1    85
2    91
3    70
4    73
5    97
6    73
7    77
8    79
9    89
dtype: int32

In [11]:
np.random.seed(0)
arr=np.random.randint(70,101,10)
s=pd.Series(arr)
s.index='Sep Nov Dec Jan Fev Mar Apr May Jun July'.split()
s

Sep     82
Nov     85
Dec     91
Jan     70
Fev     73
Mar     97
Apr     73
May     77
Jun     79
July    89
dtype: int32

In [5]:
import numpy as np
import pandas as pd
np.random.seed(0)
arr=np.random.randint(70,101,10)
months='Sep Oct Nov Dec Jan Fev Mar Apr May Jun'.split()
s=pd.Series(arr, months)
s

Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
Fev    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32

In [10]:
print(f'Yearly sum:{s.sum()}')
print(f'average is:{s.mean()}')
print(f'count is:{s.count()}')

Yearly sum:816
average is:81.6
count is:10

In [17]:
print(f'First semestre is:{s[:5].mean()}')
print(f'les cinque premier est:{s[:5]}')
print(f'second semestre is:{s[5:]}')

First semestre is:80.2
les cinque premier est:Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
dtype: int32
second semestre is:Fev    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32

In [24]:
print(f'index is:{s.iloc[:5]}')

index is:Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
dtype: int32

In [32]:
print(f'first averae is:{s.iloc[:5].mean()}')
s1=s.iloc[:5].mean()
s2=s.iloc[5:].mean()
imporve=s2-s1
print(f'improvement is:{imporve}')

first averae is:80.2
improvement is:2.799999999999997

In [41]:
import pandas as pd
import numpy as np
np.random.seed(0)
arr=np.random.randint(70,101,10)
months='Sep Oct NOv Dec jan Fev Mar Apr May Jun'.split()
index=months
s=pd.Series(arr,months)
print(s)
print(f'sum is:{s.sum()}')
print(f'les cinque premier est:{s.iloc[:5]}')
print(f'les seconds cinque est:{s.iloc[5:]}')
print(f'les moyenne est:{s.mean()}')

Sep    82
Oct    85
NOv    91
Dec    70
jan    73
Fev    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32
sum is:816
les cinque premier est:Sep    82
Oct    85
NOv    91
Dec    70
jan    73
dtype: int32
les seconds cinque est:Fev    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32
les moyenne est:81.6

In [43]:
print(s.nlargest())

Fev    97
NOv    91
Jun    89
Oct    85
Sep    82
dtype: int32

In [52]:
print(s.argmax())
print(s.idxmax())

5
Fev

In [53]:
print(s[s==s.max()].index)

Index(['Fev'], dtype='object')

In [54]:
print(s[s==s.max()].index.tolist())

['Fev']

In [61]:
import pandas as pd
import numpy as np
np.random.seed(0)
months=['Sep','Oct', 'Nov', 'Dec', 'Jan', 'Fev', 'Mar', 'Avr', 'May', 'Juin']
s=pd.Series(np.random.randint(40,60,10),index=months)

print(s)

Sep     52
Oct     55
Nov     40
Dec     43
Jan     43
Fev     47
Mar     49
Avr     59
May     58
Juin    44
dtype: int32

In [63]:
from pandas import Series
s1= Series([20,30,40])
s2=Series([30,60,70])
print(s1+s2)

0     50
1     90
2    110
dtype: int64

In [68]:
from pandas import Series
s1=Series([30,40,50],index=list('abc'))
s2=Series([60,70,80],index=['d','s','f'])
print(s1+s2)

a   NaN
b   NaN
c   NaN
d   NaN
f   NaN
s   NaN
dtype: float64

In [69]:
from pandas import Series
s=Series([50,60,70],index=list('sdf'))
print(s+4)

s    54
d    64
f    74
dtype: int64

In [71]:
s[s<15]

Series([], dtype: int64)

In [73]:
print(s[s==50])

s    50
dtype: int64

In [81]:

import pandas as pd 
np.random.seed(0)
arr=np.random.randint(40,60,10)
months=['Sep','Oct', 'Nov', 'Dec', 'Jan', 'Fev', 'Mar', 'Avr', 'May', 'Juin']
s=pd.Series(arr,index=months)
print(s)
print(10*"-----------")
print(s+(40-s.mean()))

Sep     52
Oct     55
Nov     40
Dec     43
Jan     43
Fev     47
Mar     49
Avr     59
May     58
Juin    44
dtype: int32
--------------------------------------------------------------------------------------------------------------
Sep     43.0
Oct     46.0
Nov     31.0
Dec     34.0
Jan     34.0
Fev     38.0
Mar     40.0
Avr     50.0
May     49.0
Juin    35.0
dtype: float64

In [3]:
import pandas as pd 
import numpy as np
np.random.seed(0)
arr=np.random.randint(40,60,10)
months=['Sep','Oct', 'Nov', 'Dec', 'Jan', 'Fev', 'Mar', 'Avr', 'May', 'Juin']
s=pd.Series(arr,index=months)
print(s)
print(10*"-----------")
print(s+(40-s.mean()))
s.loc['Jan':'May'].mean()

Sep     52
Oct     55
Nov     40
Dec     43
Jan     43
Fev     47
Mar     49
Avr     59
May     58
Juin    44
dtype: int32
--------------------------------------------------------------------------------------------------------------
Sep     43.0
Oct     46.0
Nov     31.0
Dec     34.0
Jan     34.0
Fev     38.0
Mar     40.0
Avr     50.0
May     49.0
Juin    35.0
dtype: float64

51.2

In [4]:
print(s.argmax())

7

In [6]:
print(s.argmax())
print(s[s==s.max()].index)

7
Index(['Avr'], dtype='object')

In [7]:
print(list(s[s==s.max()].index))

['Avr']

In [9]:
print(s[s==s.max()].index.tolist())

['Avr']

In [10]:
s=s.astype(np.int64)
print(s.dtype)

int64

In [12]:
print(s)

Sep     52
Oct     55
Nov     40
Dec     43
Jan     43
Fev     47
Mar     49
Avr     59
May     58
Juin    44
dtype: int64

In [14]:
s=pd.Series([2,30,50,60], dtype=np.float16)
print(s)

0     2.0
1    30.0
2    50.0
3    60.0
dtype: float16

In [16]:
print(s.astype(np.int64))

0     2
1    30
2    50
3    60
dtype: int64

In [24]:
import pandas as pd
import numpy as np
np.random.seed(0)
arr=np.random.randint(0,101,10)
s=pd.Series(arr)
(s/10).astype(np.int8)

0    4
1    4
2    6
3    6
4    6
5    0
6    8
7    2
8    3
9    8
dtype: int8

In [26]:
s.astype(np.int8)

0    44
1    47
2    64
3    67
4    67
5     9
6    83
7    21
8    36
9    87
dtype: int8

In [27]:
s.describe()

count    10.000000
mean     52.500000
std      25.674241
min       9.000000
25%      38.000000
50%      55.500000
75%      67.000000
max      87.000000
dtype: float64

In [29]:
import numpy as np
from pandas import DataFrame
df=DataFrame([[1,3,5],[40,50,60],[70,80,90]],index=list('abc'),columns=list('dfs'))
df

    d   f   s
a   1   3   5
b  40  50  60
c  70  80  90

In [31]:
import pandas as pd
import numpy as np
from pandas import DataFrame
df=[{'a'= 20,'b'=40,'d'=50},
   {'a'=50,'b'=70,'d'=40}],index=list('wxy')
df

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3710688820.py, line 4)