In [6]:
import pandas as pd
from pandas import DataFrame
filename='C:/Users/2376234/Desktop/nyc_taxi_2019-01.csv'
df=pd.read_csv(filename, usecols=['passenger_count','trip_distance','total_amount'])
df.head()

   passenger_count  trip_distance  total_amount
0                1            1.5          9.95
1                1            2.6         16.30
2                3            0.0          5.80
3                5            0.0          7.55
4                5            0.0         55.55

In [8]:
df.sort_values('trip_distance',ascending=False)['total_amount'].iloc[:20].mean()

290.00999999999993

In [14]:
df.sort_values('trip_distance',kind='mergsort')['total_amount'].iloc[-20:].mean()

290.01000000000005

In [15]:
df.sort_values('trip_distance',kind='heapsort')['total_amount'].iloc[-20:].mean()

290.01000000000005

In [21]:
df.sort_values(['passenger_count','trip_distance'], ascending=[True,False]).iloc[50:]

         passenger_count  trip_distance  total_amount
157070                 0           29.1         70.00
1647945                0           29.1         70.26
1688231                0           29.0        133.80
5148599                0           29.0        115.86
341819                 0           28.9         75.66
...                  ...            ...           ...
2883943                9            0.0         12.25
4534691                9            0.0        110.76
4852210                9            0.0         12.74
4997772                9            0.0          9.80
7286548                9            0.0         10.30

[7667742 rows x 3 columns]

In [22]:
df.sort_values(['passenger_count','trip_distance'], ascending=[True,False])['total_amount'].iloc[50:].mean()

15.681440866163728

In [41]:
 df.groupby(['passenger_count'])['total_amount'].mean().sort_values()

passenger_count
6    15.437892
5    15.546940
3    15.604015
1    15.609601
4    15.650307
2    15.831294
0    18.663658
9    31.094444
7    48.278421
8    64.105517
Name: total_amount, dtype: float64

In [43]:
 df.groupby(['passenger_count'])['total_amount'].mean().sort_index()

passenger_count
0    18.663658
1    15.609601
2    15.831294
3    15.604015
4    15.650307
5    15.546940
6    15.437892
7    48.278421
8    64.105517
9    31.094444
Name: total_amount, dtype: float64

In [52]:
bin = [df['trip_distance'].mean(),2,10,df['trip_distance'].max()]
labels=['short','miduim','long']
df['trip_distance_group']=pd.cat(df['trip_distance'],bins,labels)
df

AttributeError: module 'pandas' has no attribute 'cat'