In [19]:
##La premier method
from pandas import DataFrame

df1= DataFrame([
    [10,20,30,40],
    [50,60,70,80],
    [90,100,110,120]
], index=['x','y','z'],columns=['a','b','c','d'])
df1

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

In [14]:
##deuxime method
df2= DataFrame([
    {'a':10,'b':20,'c':30,'d':40},
    {'a':50,'b':60,'c':70,'d':80},
    {'a':90,'b':100,'c':110,'d':120}
], index=['x','y','z'])

df2

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

In [18]:
## troisieme method
df3= DataFrame({
    'a':[10,50,90],
    'b':[20,60,100],
    'c':[30,70,110],
    'd':[40,80,120]
    
}, index=['x','y','z'])

df3

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120

In [24]:
import numpy as np
np.random.randint(0,10,5).shape

(5,)

In [25]:
np.random.randint(0,10,[3,4])

array([[5, 8, 0, 2],
       [0, 2, 9, 6],
       [2, 8, 5, 5]])

In [26]:
np.random.randint(0,10,[3,4]).shape

(3, 4)

In [30]:
a20=np.array([[10,20,30,40],
    [50,60,70,80],
    [90,100,110,120]])
a20

array([[ 10,  20,  30,  40],
       [ 50,  60,  70,  80],
       [ 90, 100, 110, 120]])

In [31]:
df4= DataFrame(a20,index=['x','y','z'],columns=['a','b','c','d'])
df4

    a    b    c    d
x  10   20   30   40
y  50   60   70   80
z  90  100  110  120