In [1]:
# Definir une serie, 
# 1er methode
import pandas as pd
s= pd.Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [3]:
# 2eme methode
from pandas import Series
s= Series([10, 20, 30, 40, 50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# Obtenir un array numpy
import numpy as np
arr = np.random.randint(0, 100, 10)
print(arr)
print(type(arr))

[89 51 42 39 36  3 15 26  7 84]
<class 'numpy.ndarray'>

In [7]:
# Afficher le nouveau contenu du variable arr
arr= np.random.randint(70, 101, 10)
print(arr)

[91 88 74 93 76 94 94 82 96 71]

In [9]:
# Question 1 definition de serie (type de variable arr)
np.random.seed(0)
arr = np.random.randint(70, 101, 10)
s = pd.Series(arr)
print(s)

0    82
1    85
2    91
3    70
4    73
5    97
6    73
7    77
8    79
9    89
dtype: int32

In [26]:
# Modification de l'index en attribuant l'attribut index
# 1er METHODE
np.random.seed(0)
arr = np.random.randint(70, 101, 10)
s = pd.Series(arr)
s.index = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
print(s)

Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
Feb    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32

In [27]:
#2eme METHODE
np.random.seed(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
arr = np.random.randint(70, 101, 10)
s = pd.Series(arr, index = months)
print(s)

Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
Feb    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32

In [28]:
print(F' Yearly sum: {s.sum()}')
print(F' Series shape: {s.shape}')
print(F' Series shape[0]: {s.shape[0]}')
print(F' Series number of elemnts(How many non-NaN values are in the series): {s.count()}')
print(F' Yearly average: {s.sum()/s.count()}')
print(F' Yearly average: {s.mean()}')

 Yearly sum: 816
 Series shape: (10,)
 Series shape[0]: 10
 Series number of elemnts(How many non-NaN values are in the series): 10
 Yearly average: 81.6
 Yearly average: 81.6

In [34]:
# 1ere Methode pour connaitre les moyennes pour le premier et deuxieme semestr de l'annee scolaire
print(f'First semester: {s[:5].mean()}')
print(f'First semester: {s[5:].mean()}')

First semester: 80.2
First semester: 83.0

In [29]:
# 2eme.1 Methode .iloc recuprer un ou plusiers elements sur la base de la position numerique - l'index par defaut
print(f'First semester: {s.iloc[:5].mean()}') #first semester
print(f'Second semester: {s.iloc[5:].mean()}') #second semester

First semester: 80.2
Second semester: 83.0

In [30]:
# 2eme.2 Methode .loc recuper un ou plusiers elements sur la base de l'index
first_half_average = s.loc['Sep':'Jan'].mean()
second_half_average = s.loc['Feb':'Jun'].mean()
print(f'First semester: {first_half_average}')
print(f'Second semester: {second_half_average}')

First semester: 80.2
Second semester: 83.0

In [31]:
#solution L'eleve a t'il ameliore ses perfomances au second semester?, si oui, de combien?
import pandas as pd
import numpy as np
np.random.seed(0)
months = 'Sep Oct Nov Dec Jan Feb Mar Apr May Jun'.split()
s = pd.Series(arr, index = months)
print(f'1. Yearly average: {s.mean()}')

first_half_average = s.loc['Sep':'Jan'].mean()
second_half_average = s.loc['Feb':'Jun'].mean()

print(f'2. First half average: {first_half_average}')
print(f'3. Second half average: {second_half_average}')

print(f'4. Improvement: {second_half_average - first_half_average}')

1. Yearly average: 81.6
2. First half average: 80.2
3. Second half average: 83.0
4. Improvement: 2.799999999999997

In [32]:
#Quels sont les cinq meilleurs resultats de cet eleve
print(s)
print('----')
print(s.nlargest(5))

Sep    82
Oct    85
Nov    91
Dec    70
Jan    73
Feb    97
Mar    73
Apr    77
May    79
Jun    89
dtype: int32
----
Feb    97
Nov    91
Jun    89
Oct    85
Sep    82
dtype: int32

In [33]:
# Au cours de quel moi l'eleve a t'il obtenu son score le plus eleve?
s[s == s.max()]

Feb    97
dtype: int32