In [2]:
import pandas as pd
import numpy as np
s=pd.Series([10,20,30])
s

0    10
1    20
2    30
dtype: int64

In [3]:
from pandas import Series
s=Series([20,30,40])
s

0    20
1    30
2    40
dtype: int64

In [6]:
from pandas import Series
import numpy
s=pd.Series([20,30,40])
print("Le moyen est:",s.mean())

Le moyen est: 30.0

In [8]:
import numpy as np
arr=np.random.randint(0,100,10)
print(arr)
print(type(arr))

[82 60 48 21 35 69 87 34  5  1]
<class 'numpy.ndarray'>

In [9]:
import numpy as np
arr=np.random.randint(0,101,10)
print(arr)

[32 36 78 14 42 22 19 83 26 15]

In [3]:
import numpy as np
import pandas as pd
np.random.seed(0)
arr= np.random.randint(70,101,10)
s= pd.Series(arr)
print (s)

0    82
1    85
2    91
3    70
4    73
5    97
6    73
7    77
8    79
9    89
dtype: int32

In [5]:
import pandas as pd
import numpy as np
np.random.seed(0)
arr=np.random.randint(70,101,10)
s=pd.Series(arr)
s.index='Sep oct Nov Dec Jav Fev Mar Avr may Jun'.split()
print(s)

Sep    82
oct    85
Nov    91
Dec    70
Jav    73
Fev    97
Mar    73
Avr    77
may    79
Jun    89
dtype: int32

In [32]:
np.random.seed(0)
month='Sep oct Nov Dec Jav Feb Mar Apr May jun '.split()
arr= np.random.randint(70,101,10)
s=pd.Series(arr,index=month)
print(s)
print(f'la somme annuelle est:{s.sum()}')
print(f'la taille est:{s.shape}')
print(f'la taille 2 est:{s.shape[0]}')
print(f'count est:{s.count()}')
print(f'Le moyen est:{s.sum()/s.count()}')
print(f'Lemoyen avec mean est:{s.mean()}')
print(f'le moyen de la premier semestre est:{s[:5].mean()}')
print(f'le moyen de la deuxieme semestre est:{s[5:].mean()}')
print(f'first semestre :{s.iloc[:5].mean()}')
print(f'second semestre:{s.iloc[5:].mean()}')
first_half_avreage=s.loc['Sep':'Dec'].mean()
print(first_half_avreage)
second_half_avrage=s.loc['Jav':'May'].mean()
print( second_half_avrage)
print("l'amélioration est:",first_half_avreage-second_half_avrage)

Sep    82
oct    85
Nov    91
Dec    70
Jav    73
Feb    97
Mar    73
Apr    77
May    79
jun    89
dtype: int32
la somme annuelle est:816
la taille est:(10,)
la taille 2 est:10
count est:10
Le moyen est:81.6
Lemoyen avec mean est:81.6
le moyen de la premier semestre est:80.2
le moyen de la deuxieme semestre est:83.0
first semestre :80.2
second semestre:83.0
82.0
79.8
l'amélioration est: 2.200000000000003